#toolbar,
.l-top-menu-wrapper,
.l-header-bottom,
.l-footer,
ul.tabs,
.sidebar-right,
.service-links,
.main-content .pane-custom.pane-1,
ul.action-links,
ul.pager

 {
  display: none;
}




.pane-ministers .minister {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 48%;
  flex: 100%;
  div {
  	margin-left:2em;
  	margin-top: 1em;
    display: inline-block;
    width: 60%
  }
  img {
    float: left;
    display: inline-block;
  }

  p {
    display: inline-block;
  }
}
