#toolbar,
.l-top-menu-wrapper,
.l-header-bottom,
.l-footer,
ul.tabs,
.sidebar-right,
.service-links,
.main-content .pane-custom.pane-1,
ul.action-links,
ul.pager,
.messages-warning

 {
  display: none;
}


.main-content{
  width:100%;
}

.pane-ministers .minister {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 48%;
  flex: 100%;
  div {
  display: inline-block;
  }
  img {
  display: none;
  }

  p {
    display: inline-block;
  }
}
